{% extends 'base.html.twig' %}

{% block title %}Stories{% endblock %}

{% block body %}
    <div id='app'>
        <App></App>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}